**/*.git
**/*.github
**/*.gitignore
**/*.gitattributes
**/*.editorconfig
**/*.pre-commit-config.yaml
**/*.prettierrc.json
**/Caddyfile.example
**/CITATION.cff
**/Dockerfile*
**/docker-compose.*
**/LICENSE
**/*.code-workspace
**/README.md
**/*.tmp
**/*.venv
**/venv
**/*.env
**/build
**/dist
**/*.vscode/*
!.vscode/settings.json
**/__pycache__
**/*.egg-info
**/*.pyc
**/*.pyo
**/*.pyi
**/*.pyd
**/*.mypy_cache
**/*.ruff_cache
**/*.pytest_cache
**/*.coverage
**/coverage.xml
**/htmlcov
**/*.code-workspace
**/typings
**/*.idea
**/node_modules
**/clear_cache.py
**/*.db
**/*.sqlite_data
