# required
APP_NAME=clickfunnels-fastapi-webhook
APP_DESCRIPTION=a simple service to use w/ CF workflows that updates custom attributes of a CF contact. made by yxzhin with <3
APP_VERSION=0.1.0

DOMAIN=

CLICKFUNNELS_SUBDOMAIN=
CLICKFUNNELS_WORKSPACE_ID=
CLICKFUNNELS_API_TOKEN=
CLICKFUNNELS_WEBHOOK_SECRET=

REDIS_URL=redis://redis:6379/0

# optional
TIME_ZONE=America/Los_Angeles
EVENT_TTL_SECONDS=86400
ENABLE_API_DOCS=true
LOG_RAW_PAYLOAD=false  # log incoming payloads (avoid in prod unless needed)
