# required
APP_NAME=clickfunnels-fastapi-webhook
APP_DESCRIPTION=a simple service to use w/ CF workflows that updates custom attributes of a CF contact. made by yxzhin with <3
APP_VERSION=0.1.0

CLICKFUNNELS_SUBDOMAIN=myworkspace
CLICKFUNNELS_WORKSPACE_ID=example
CLICKFUNNELS_API_TOKEN=example
CLICKFUNNELS_WEBHOOK_SECRET=example

TWILIO_ACCOUNT_SID=example
TWILIO_AUTH_TOKEN=example
TWILIO_FROM_NUMBER=example

TWILIO_TEST_ACCOUNT_SID=
TWILIO_TEST_AUTH_TOKEN=
TWILIO_TEST_PHONE_NUMBER=+15005550006

REDIS_URL=redis://redis:6379/0

# log incoming payloads (avoid in prod unless needed)
LOG_RAW_PAYLOAD=false

REGISTRATION_TODAY_LA_PAGE_NAME=reg-today-la
REGISTRATION_TODAY_AU_PAGE_NAME=reg-today-au
REGISTRATION_TOMORROW_LA_PAGE_NAME=reg-tomorrow-la
REGISTRATION_TOMORROW_AU_PAGE_NAME=reg-tomorrow-au
